* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #fffeff;
    width: 100vw; height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 14rem  0;
}
nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    color: #737273;
    font-size: 14px;
}
a:hover {
    border-bottom: 1px solid black;
    width: max-content;
    color: #000;
    padding: .3rem;
}
input[placeholder] {
    border: none;
    border-bottom: 1px solid black;
    width: 9rem;
    padding: .3rem;
    font-size: 13px;
}

.about {
    padding: 0 14rem;
    display: grid;
    grid-template-columns: 90% 1fr;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.about img {
    width: 33rem;
    position: sticky;
    right: 0;
    background-color: #fffeff;
}
.utility h1 {
    font-size: 2.5rem;
}
.utility p {
    border-left: 2px solid #000;
    height: max-content;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.6);
    padding: 0 2rem;
    margin-top: 3rem;
}
.utility button {
    background-color: #db2a35;
    color: white;
    padding: .5rem 1rem;
    border: none;
    font-size: 12px;
    margin-top: 2rem;
    cursor: pointer;
}

.offers {
    padding: 2rem 14rem;
}
.activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.activity p {
    font-size: 0.85rem;
    margin-top: 2.5rem;
    line-height: 1.5rem;
}
.dots {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.dot {
    width: .25rem;
    height: .3rem;
    background-color: silver;
}
.learn-more {
    margin-top: 1rem;
    color: #db2a35;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.line {
    border-bottom: 2px solid #db2a35;
    width: 2rem;
}
.nike {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nike img {
    width: 24rem;
}
#services {
    background: url(/media/runners.jpg);
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    padding: 12rem 0;
}
.runners-img {
    color: white;
    margin-left: 45rem;
}
.runners-img p{
    color: white;
    border-left: 2px solid white;
}


